*{
  margin: 0;
  padding: 0;
 
}

html , body{
  height: 100%;
    width: 100%;
  height: 100%;
  background-image: url('/assets/images/login_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-reg-box{
  width: 400px;
  background-color: #fff;
  height: 320px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 0 30px;
}
.login-reg-box h4{
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.reg-wrap{
  display: none;
}